@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body, html {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('https://i2-prod.ok.co.uk//article31665864.ece/ALTERNATES/s1200d/0_SD_07_T22_7101K_NC_X_EC_3.jpg') no-repeat center center fixed; 
}